.input-area {
  display: flex;
  justify-content: space-between;
}

.input-area-button {
  width: 10%;
  background: #d15ed1;
  border: none;
  padding: 1rem;
  
  &:hover {
    background:  #d4339f;
  }

  &:disabled {
    cursor: default;
    background: #7c5cbf;
  }
}

.input-area-input {
  flex-grow: 1;
  padding: 0.5rem;
  margin: 0.2rem;
}