.message-line {
  padding: 1rem;
  background-color: rgb(230, 239, 243);
}

.message-line-dark {
  background-color: rgb(208, 222, 223);
}

.message-name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message-time {
  color: #777;
  font-size: 14px;
}
