.name-selector-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.name-selector-popup {
  display: inline-block;
  background: pink;
  box-shadow: 0 0 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
}

.title {
  margin: auto 0;
}

.name-selector-button {
  width: 100%;
  margin: 1rem 0;
  background: #b0d668;
  border: none;
  padding: 1rem;
    
  &:hover {
    background: #dfd158;
  }

  &:disabled {
    cursor: default;
    background: #b1ca82;
  }
}

.name-selector-input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid;
}